.center-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.btn-space {
    margin-top: 10px;
}